.top-container{
    height: 26vw;
}

.top-content-box{
    height: 26vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    display: block;
}

.dashboard-title{
    display: inline-flex;
    margin-top: 2vw;
}

.banner-pic{
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.back-button{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    border: solid 1px #429675;
    background-color: #429675;
    margin-left: 3vw;
    color: #FFFFFF;
}

#back-icon{
    font-size: 1.1vw;
}

.dashboard-title-text{
    font-size: 1.6vw;
    font-family: "Songti SC";
    color: #429675;
    line-height: 3vw;
    margin-left: 2vw;
}

.primary-box{
    display: inline-flex;
}

.primary-box-left{
    height: 16vw;
    width: 44vw;
    position: absolute;
    top: 7vw;
    left: 8vw;
    border-radius: 20px;
    border: solid 1px #ffffff;
    background-color: #ffffff;
    z-index: 5;
    box-shadow: 0 10px 20px 0 rgba(96, 94, 94, 0.12);
    display: block;
}

.primary-box-right{
    height: 16vw;
    width: 38vw;
    position: absolute;
    top: 7vw;
    left: 54vw;
    border-radius: 20px;
    border: solid 1px #ffffff;
    background-color: #ffffff;
    z-index: 5;
    box-shadow: 0 10px 20px 0 rgba(96, 94, 94, 0.12);
    display: block;
}

.primary-box-title{
    color: #293450;
    font-size: 1.2vw;
    margin-top: 1.8vw;
    margin-left: 2.5vw;
    font-weight: 450;
}

.primary-box-content{
    display: inline-flex;
    margin-left: 2.5vw;
    margin-top: 1.7vw;
}

.pie-chart{
    width: 9vw;
}

.primary-score{
    color: #293450;
    font-size: 2.3vw;
    font-weight: 450;
    margin-top: 3vw;
    margin-left: -5.8vw;
}

.primary-inner-group{
    display: block;
    margin-left: 2.5vw;
    width: 7vw;
}

.primary-inner-group-title{
    color: #293450;
    font-size: 1vw;
    margin-top: 0.5vw;
    text-align: center;
}

.primary-inner-group-content{
    color: #293450;
    font-size: 1.6vw;
    font-weight: 450;
    margin-top: 1vw;
    text-align: center;
}

.primary-inner-group-button{
    color: #ACACAC;
    background-color: #F4F3F3;
    border: solid 1px transparent;
    border-radius: 6px;
    width: 6vw;
    height: 2vw;
    margin-top: 1.5vw;
    margin-left: 0.5vw;
}

#inner-group-left{
    margin-left: 6.5vw;
}

#grade-text{
    color: #EDA44F;
}

#comment-text{
    color: #429675;
}

.primary-explanation-text{
    width: 33vw;
    color: #293450;
    font-size: 1vw;
    line-height: 2.2vw;
}

.bottom-container{
    width: 100vw;
    height: 26.5vw;
    left: 0;
    margin-top: 1vw;
    display: inline-flex;
}

.result-box{
    border: solid 1px #CBC9C9;
    border-radius: 20px;
    height: 100%;
    margin-left: calc(8vw - 4px);
    display: block;
}

#result-box-left{
    width: 32vw;
}

#result-box-right{
    margin-left: 2vw;
    width: 50vw;
}

.result-box-title{
    color: #293450;
    font-size: 1.2vw;
    margin-top: 1.8vw;
    margin-left: 2.5vw;
    font-weight: 450;
}

.bar-chart{
    height: 14vw;
    margin-left: 2.5vw;
    margin-top: 1.5vw;
}

.item-row{
    display: inline-flex;
    height: 6vw;
    width: 27.5vw;
    margin-left: 2.5vw;
    margin-top: 1vw;
}

.legend{
    display: block;
    height: 5vw;
    width: 11vw;
    margin-left: 1vw;
}

.legend-row{
    height: 2.5vw;
    display: inline-flex;
}

.legend-item-icon{
    height: 1.2vw;
    width: 1.2vw;
    border-radius: 50%;
    border: solid 1px transparent;
    margin-top: calc((2.5vw - 0.8vw) / 2);
}

.legend-item-text{
    line-height: 3vw;
    font-size: 1vw;
    color: #293450;
    margin-left: 1vw;
    color: #293450;
    width: 2vw;
}

#legend-item-icon-1{
    background-color: #429675;
}

#legend-item-icon-2{
    background-color: #6BBD95;
    margin-left: 2vw;
}

#legend-item-icon-3{
    background-color: #B9E0CD;
}

#legend-item-icon-4{
    background-color: #81B171;
    margin-left: 2vw;
}

.questionnaire-score{
    display: block;
    margin-left: 2.5vw;
    margin-top: 0.3vw;
}

.questionnaire-score-item{
    display: inline-flex;
    color: #293450;
    font-size: 1vw;
    line-height: 2.5vw;
}

.questionnaire-score-digit{
    color: #293450;
    font-size: 1.3vw;
    font-weight: 450;
    margin-left: 0.5vw;
}

.flow-chart{
    width: 44vw;
    margin-left: 3vw;
    margin-top: 2vw;
}